body {
    min-width: 500px;
    background: #f0f2f5;
}

textarea:focus {
    outline: none;
    font-weight: 400;
}

#diary_container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: calc(100% - 200px);
}

#diary_logo {
    color: #1877f2;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0 30px 0;
}

#diary_write_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 60px;
    align-items: center;
    padding-top: 15px;
    background-color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    width: 500px;
}

#diary_content {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 8px; 
    margin-top: 15px;
    width: 450px;
    height: 70px;
}

#diary_content_text {
    margin: 0 auto;
    border: 0;
    background-color: #f0f2f5;
    font-size: 16px;
    font-weight: 200;
    word-break: break-all;
    width: 440px;
    height: 50px;
}

#calendar_date {
    border: none;
    height: 30px;
}

#diary_write_button {
    margin: 15px 0 20px 0;
    border: 1px solid #efefef;   
    border-radius: 8px; 
    background-color: #1877f2;
    color: #fff;
    width: 450px;
    height: 35px;
    cursor: pointer;
}

#schedule_month {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 800px;
    height: fit-content;
}

.material-icons {
    margin-top: 30px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#schedule_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    width: 500px;
}

.schedule_content {
    font-size: 15px;
    font-weight: 400;
}

#schedule_remove_update {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: left;
    
}

#schedule_remove_button {
    background-color: #e05162;
    width: 70px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#schedule_update_button {
    width: 70px;
    height: 32px;
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#prev_next_month_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
}

#prev_month_submit {
    background-image: url();
}

#next_month_submit {

}



@media screen and (max-width: 400px) {
    #diary_container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        width: 360px;

    }

    #diary_logo {
        font-size: 30px;
        margin: 0 0 20px 0;
    }

    #diary_write_container {
        margin-bottom: 60px;
        padding-top: 15px;
        font-size: 18px;
        width: 350px;
    }

    #diary_content {
        margin-top: 15px;
        width: 340px;
        height: 70px;
    }

    #diary_content_text {
        font-size: 16px;
        width: 320px;
        height: 50px;
    }

    #diary_write_button {
        margin: 15px 0 20px 0;
        width: 340px;
        height: 35px;
    }

    #schedule_month {
        width: 350px;
    }

    .material-icons {
        margin-top: 30px;
    }

    #schedule_container {
        margin-bottom: 60px;
        padding-top: 15px;
        font-size: 20px;
        width: 500px;
    }

    .schedule_content {
        font-size: 15px;
    }

    #schedule_remove_update {
        width: 350px;    
    }
    
    #schedule_remove_button {
        width: 60px;
        height: 32px;
        font-size: 12px;
    }

    #schedule_update_button {
        width: 60px;
        height: 32px;
        font-size: 12px;
    }

    #prev_next_month_container {
        display: flex;
        justify-content: space-between;
        width: 350px;

    }
}