body {
    min-width: 500px;
    background: #f0f2f5;
}

input:focus {
    outline: none;
}

input[type=text] {
    border: 1px solid #e5e5e5;
    color: #353535;
    font-size: 12px;
    width: 200px;
    height: 30px;
}

#find_pw_logo {
    color: #1877f2;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 40px 0 30px 0;
}

#find_pw_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 350px;
    border: none;
    border-radius: 8px;
}

#find_box {
    margin-top: 30px;
}

.find_pw_input {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: #1877f2;
    width: 412px;
}

#find_pw_button {
    width: 412px;
    height: 45px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #1877f2;
}